@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Временно тут */
.popup {
    display: none;
}
/* -------------- */

body {
    margin: 0;
    padding: 0;
    font-family: "OpenSans","Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
    background-color: #ffffff;
}

.header {
    background-color: #f0c52e;
}

.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ------------ ссылки ----------- */

a {
    text-decoration: none;
    color: #000000;
}

a:hover,
.submenu_catalog a:hover {
    opacity: 0.6;
}

a:focus {
    opacity: 0.3;
}

/* -------- кнопки --------- */

.btn {
    font-family: "gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: #f0c52e;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-align: center;
    text-transform: uppercase;
}

/* ---------- формы ------------ */

input[type="search"] {
    opacity: 0.3;
    border: none;
    background-color: #f0c52e;
    outline: none;
    color: #000000
} 

input[type="search"]:hover,
input[type="checkbox"]:hover,
input[type="radio"]:hover{
    opacity: 0.6;
}

input[type="search"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus {
    opacity: 1;
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
    opacity: 0.25;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
    opacity: 0.25;
}

/* 
---------- навигация ----------- */

.menu_links {
    font-family: "gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
}

.menu_links li,
.about_us li,
.delivery li,
.nav_item li {
    list-style: none;
}

.dropdown_menu ul li{
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0.15px
}

.submenu_catalog a {
    font-size: 14px;
    letter-spacing: 0.14;
    line-height: 24px;
    opacity: 0.3;
}

.submenu_catalog a:focus{
    opacity: 0.1;
}

/* ---------- заголовки ----------- */

h2 {
    font-family: "gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
}

h3 {
    font-family: "gilroy", "Arial", sans-serif;
    font-size: 16px;
    letter-spacing: 3.2px;
}

/* ---------- о нас ---------- */

.about_us p,
.about_contacts p {
    color: #464646;
}

.about_us ul li {
    font-family: "gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
}


/* ------- выйти ------- */
 li .logout {
    opacity: 0.3;
}

li .logout:hover {
    opacity: 0.6;
}

li .logout:focus {
    opacity: 1;
}

/* ----------- фильтр ---------- */

.filter_menu form,
.sorting_menu {
    background-color: #ebebeb;
    font-size: 14px;
}

.filter_menu legend,
.product .product_name,
.category_card p {
    font-family: "gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.sorting_menu li {
    list-style: none;
}

.product span {
    font-family: "gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.filter_menu div:first-child {
    background-color: #d9d9d9;
}

.filter_menu h3,
.sorting_menu h3 {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
}

.filter_form fieldset {
    border: none;
}
/* -------- футер --------- */

.social li {
    list-style: none;
} 

.footer {
    background-color: #464646;
    color: white;
}

.footer a {
    color: white;
}

.nav_footer {
    opacity: 0.7;
}

/* ----------промо---------- */

.promo_slogan {
    font-family: "gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: bold;
    letter-spacing: 0.47px;

    text-align: left;
}

.promo_controls p:nth-child(3),
.promo_controls p:nth-child(4),
.promo_specific p:nth-child(2),
.delivery_description p {
    color: #464646;
}

.promo_specific p:first-child {
    font-family: "gilroy", "Arial", sans-serif;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.36px;
}