html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

.popup {
    display: none;
}

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "OpenSans","Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
}

.font_extra {
    font-family: "gilroy", "Arial", sans-serif;
}

.font_base {
    font-family: "OpenSans","Arial", sans-serif;
}

.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* ------------ ссылки ----------- */

a {
    text-decoration: none;
    color: #000000;
}

a:hover,
.breadcrumbs a:hover {
    opacity: 0.6;
}

a:focus {
    opacity: 0.3;
}

/* -------- кнопки --------- */

.btn {
    font-weight: bold;
    font-size: 18px;
    background-color: #f0c52e;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-align: center;
    text-transform: uppercase;
}

/* ---------- формы ------------ */

.color_choose input[type="checkbox"]:hover,
.sorting_menu input[type="checkbox"]:hover,
.slideshow input[type="radio"]:hover,
.bluetooth_choose input[type="radio"]:hover{
    opacity: 0.6;
}

.color_choose input[type="checkbox"]:focus,
.sorting_menu input[type="checkbox"]:focus,
.slideshow input[type="radio"]:focus,
.bluetooth_choose input[type="radio"]:focus {
    opacity: 1;
}

.color_choose input[type="checkbox"]:disabled,
.sorting_menu input[type="checkbox"]:disabled,
.slideshow input[type="radio"]:disabled,
.bluetooth_choose input[type="radio"]:disabled {
    opacity: 0.25;
}

.color_choose input[type="checkbox"]:disabled + label,
.slideshow input[type="radio"]:disabled + label,
.bluetooth_choose input[type="radio"]:disabled + label {
    opacity: 0.25;
}

/* 
---------- навигация ----------- */

.dropdown_catalog,
.menu_catalog,
.footer_links li {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
} 

.menu_links li,
.about_us li,
.delivery_nav li,
.nav_list li,
.footer_top li {
    list-style: none;
}

.menu_catalog .dropdown_menu {
    position: absolute;
    top: 20px;
    left: -60px;
    z-index: 3;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
  
    width: 1200px;
    height: 135px;
  
    margin: 0;
    padding-top: 25px;
    background: #f0c52e;

    display: none;
}
.dropdown_menu li {
    margin-left: 60px;
}

.dropdown_menu a {
    display: flex;
    text-transform: none;
}

.catalog_item:hover .dropdown_menu {
    display: flex;
  }

.dropdown_menu li{
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0.15px
}

.breadcrumbs {
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: 24px;
    opacity: 0.3;
}

.breadcrumbs a:focus{
    opacity: 0.1;
}

.breadcrumbs a {
    margin-right: 39px;
}


/* ---------- заголовки ----------- */

.second_title {
    font-weight: bold;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
}

.third_title {
    font-size: 16px;
    letter-spacing: 3.2px;
}



/* ------- выйти ------- */

 li .logout {
    opacity: 0.3;
}

li .logout:hover {
    opacity: 0.6;
}

li .logout:focus {
    opacity: 1;
}

/* ----------- фильтр ---------- */

.filter_menu,
.sorting_menu {
    background-color: #ebebeb;
    font-size: 14px;
}

.filter_menu legend,
.catalog_items p,
.category_list p {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.sorting_menu li {
    list-style: none;
}

.catalog_item span {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.filter_menu div:first-child {
    background-color: #d9d9d9;
}

.filter_menu h3,
.sorting_menu p {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
}

.filter_form fieldset {
    border: none;
}

.filter_form {
    padding-top: 87px;
}
/* -------- футер --------- */

.footer_bottom li {
    list-style: none;
} 

.page_footer {
    background-color: #464646;
    color: white;
}

.page_footer a {
    color: white;
}

.nav_footer {
    opacity: 0.7;
}

.social_list svg {
    opacity: 0.3;
}

/* ----------слайдер---------- */

.slideshow ul {
    position: absolute;
    left: 1200px;
    top: 540px;
    list-style: none;
    display: flex;
}

.slideshow li {
    margin-right: 21px;
}

.promo_slogan {
    font-size: 47px;
    font-weight: bold;
    letter-spacing: 0.47px;

    text-align: left;
}

.content p:nth-child(3),
.content p:nth-child(4),
.promo_specific p:nth-child(2) {
    color: #464646;
}

.promo_specific p:first-child {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.36px;
}

.slide_item {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
}

.img_wrap{
    flex-basis: 50%;
}

.number {
    position: absolute;
    top: -12px;
    right: 50px;
  
    font-size: 179px;
    line-height: 179px;
    font-weight: 800;
    color: #ffffff;
  }

.promo_title {
    position: relative;
  z-index: 2;

  margin-top: 80px;
}

.promo_details {
    display: flex;
}

.promo_specific {
    margin-right: 80px;
}

.promo_specific p {
    margin: 0;
}

.promo_specific p:first-child {
    margin-top: 70px;
}

.promo_specific p:last-child {
    margin-bottom: 117px;
}

.category_list li {
    list-style: none;
}

.category ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.category_item {
    display: flex;
    align-items: center;
  
    width: 160px;
    height: 200px;
    position: relative;
}

.category_icon::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #f7e296;
    top: -100px;
}

.category_icon:hover::after,
.category_icon:focus::after {
    background-color: #f0c52e;
}

.category_icon1::after {
    background-image: url("../img/popular-1.svg");
}
.catalog_icon div {
    margin-bottom: 35px;
    width: 160px;
    height: 160px;
}

.category_icon2::after {
    background-image: url("../img/popular-2.svg");
}

.category_icon3::after {
    background-image: url("../img/popular-3.svg");
}

.category_icon4::after {
    background-image: url("../img/popular-4.svg");
}

.category_icon5::after {
    background-image: url("../img/popular-5.svg");
}

.category_icon6::after {
    background-image: url("../img/popular-6.svg");
}

/* ---------- каталог страницы ------- */

.pagination {
    font-size: 16px;
    font-weight: bold;
    background-color: #ebebeb;  
}

.pagination li {
    list-style: none;
}

.pagination li:first-child:hover,
.pagination li:last-child:hover{
    background-color: #d9d9d9;
}

.pagination a:first-child:active,
.pagination a:last-child:active,
.pagination_page {
    opacity: 0.3;
}

.pagination a:first-child:hover,
.pagination a:last-child:hover,
.pagination_page:active {
    opacity: 1;
}

.pagination_page:hover {
    opacity: 0.6;  
}

.container {
    width: 1200px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
 
}

.header_block {
    background-color: #f0c52e;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 40px;
    min-height: 186px;
}

.header_options,
.menu_search,
.nav_list {
    display: flex;
}

.header_options {
    padding-top: 30px;
} 

.header_logo {
    display: inline-block;
    position: absolute;
    top: 0;
    transform: translate(0, 50%);
}

.menu_search {
    flex-basis: 50%;
    position: relative;
}

.page_header {
    width: auto;
}

.menu_search .search {
    border:0;
    width:355px;
    background-color:transparent;
    color:#000;
    opacity: 0.3;
}

.search-button {
    display: none;
    background-color: transparent;
    padding: 23px;
}

.search {
    opacity: 0.6;
    padding-left: 36px;
}

.search:focus {
    border-bottom: 2px solid #000000;
    color: #000000;
    opacity: 1;
    outline: none;
}

.search:focus~.search-button {
    border: 2px solid #000000;
    display: inline-block;
}

.search-button:hover,
.search-button:focus {
    display: inline-block;
    color: #ffffff;
    background-color: #000000;
}
/* ------- иконки для меню навигации-------- */
.menu_search label::before {
    content: "";
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    background-position: 0 0;
    top: 23px;
}

.nav_list_user,
.nav_list_compare,
.nav_list_cart {
    position: relative;
    padding-left: 27px;
}

.nav_list_user::before {
    content: "";
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    width: 13px;
    height: 12px;
    position: absolute;
    top: 3px;
    left: 0;
}

.nav_list_compare::before {
    content: "";
    background-image: url("../img/compare.svg");
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 4px;
    left: 0;
}

.nav_list_cart::before {
    content: "";
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    width: 13px;
    height: 12px;
    position: absolute;
    top: 3px;
    left: 0;
}

.nav_list {
    flex-basis: 50%;
    padding-left: 0;
}

.nav_list li:first-child {
    margin-right: auto;
    flex-basis: 50%;
}

.nav_list li:nth-child(2) {
    padding-right: 65px;
}

.menu_links {
    padding-left: 0;
}
.catalog_item:first-child {
    position: relative;
    width: 540px;
    margin-left: 0;
}

.catalog_item:last-child {
    margin-left: auto;
    margin-right: -4px;  /*контакты под корзиной */
}

.catalog_item:nth-child(2) {
    margin-right: 38px;
}

.dropdown_menu {
    padding-left: 0;
} 
.dropdown_catalog::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 221px;
  
    width: 16px;
    height: 16px;
    margin-left: 9px;
  
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.menu_catalog,
.links_navigation {
    padding: 0;
}

.menu_catalog {
    display: flex;
    flex-wrap: wrap;
}

/* ------ блок доставка------- */

.delivery_menu {
    background-color : #e5e5e5;
    width: auto;
    position: relative;
    min-height: 288px;
}

.block_delivery {
    display: flex;
    position: absolute;
    top: -25px;
}

.delivery_nav {
    flex-basis: 278px;
    padding: 0px;
}

.delivery_nav li {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 55px;
    letter-spacing: 3.6px;
}

.delivery_tab h2 {
   margin: 0;
}

.delivery_tab {
    width: 436px;
    margin-left: 241px;
}

.tab_content p {
    color: #464646;
}

.tab_content {
    padding-bottom: 50px;
 
}

.delivery_content,
.warranty_content,
.credit_content {
    position: relative;
}

.dellivery_icon::after {
    content: "";
    background-image: url("../img/delivery.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 620px;
    width: 136px;
    height: 164px;
}

.warranty_icon::after {
    content: "";
    background-image: url("../img/warranty.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: -10px;
    left: 620px;
    width: 171px;
    height: 194px;
}

.credit_icon::after {
    content: "";
    background-image: url("../img/credit.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: -10px;
    left: 620px;
    width: 156px;
    height: 186px;
}
.warranty_content,
.credit_content {
    display: none;
}

/* ------------------------------ */

ul .dellivery_company {
    align-items: flex-end;
}

/* -------- блок о нас --------- */

.block_about {
    display: flex;
}

.about_contacts {
    margin-left: 138px;
}

.about_us,
.about_contacts {
    min-height: 492px;
}
.about_us p,
.about_contacts p {
    color: #464646;
}

.about_us li {
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
}

.about_us .second_title,
.about_contacts .second_title {
    margin: 0;
}


/* ---------- футер ---------- */

.footer_top,
.footer_options ul {
    display: flex;
}

.footer_top {
    padding-top: 65px;
}

.footer_logo,
.footer_options {
    flex-basis: 50%;
}

.footer_options li {
    padding-left: 65px;
}

.footer_options ul {
    justify-content: flex-end;
}

.footer_middle {
    display: flex;
    justify-content: space-between;
}

.footer_links {
    display: flex;
    margin: 0;
    padding-right: 0;
}

.footer_links li {
    margin-right: 38px;
    text-transform: uppercase;
    list-style: none;
}

.footer_bottom ul {
    display: flex;
    justify-content: center;
}

.footer_bottom li {
    padding-right: 32px;
    padding-top: 55px;
}

.page_footer p {
    margin: 0;
}

/* --------- каталог ---------- */
/* .filter_menu {
    flex-basis: 467px;
    padding-right: 67px;
    padding-left: 60px;
} */

.logout {
    padding-left: 20px;
}

.second_title {
    margin-top: 44px;
    margin-bottom: 30px;
}

.block_submenu {
    padding-left: 60px;
}

.block_catalog,
.sorting_menu,
.sorting_menu ul {
    display: flex;
}

.sorting_menu {
    min-height: 71px;
}

.sorting_menu {
    margin-bottom: 69px;
}
.sorting_menu p,
.sorting_menu ul {
    margin: auto 0;
}
.third_title {
    margin: 0;
}

.sorting_list li {
    margin-right: 30px;
}

/* .sort_updown {
    flex-wrap: wrap;
     flex-grow: 1;
} */

.sort_updown {
    margin-left: auto;
}
.sort_updown li:last-child {
    padding-left: 19px;
}

.catalog{
    display: flex;
    flex-wrap: wrap;
}

.pagination,
.pagination ul  {
    display: flex;
    justify-content: space-between;
    padding: 0;
}


.hidden_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 380px;
}

.hidden_block .btn {
    margin-bottom: 33px;
}
/* ---------- временно --------- */



.filter_menu {
    flex-basis: 467px;
    /* padding-right: 67px; */
    padding-left: 80px;
}

.catalog_choose {
    flex: 1;
}

.sorting_menu {
    padding-left: 74px;
}

.catalog_items_info {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.catalog_items_info span {
    margin-left: auto;
}

.catalog_items_info p {
    margin: 0;
    width: 252px;
}

.catalog_items {
    margin-left: 74px;
    margin-bottom: 49px;
}