@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* Временно тут */
.popup {
    display: none;
}
/* -------------- */

body {
    margin: 0;
    padding: 0;
    font-family: "OpenSans","Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
}

.font_extra {
    font-family: "gilroy", "Arial", sans-serif;
}

.font_base {
    font-family: "OpenSans","Arial", sans-serif;
}

.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ------------ ссылки ----------- */

a {
    text-decoration: none;
    color: #000000;
}

a:hover,
.submenu_catalog a:hover {
    opacity: 0.6;
}

a:focus {
    opacity: 0.3;
}

/* -------- кнопки --------- */

.btn {
    font-weight: bold;
    font-size: 18px;
    background-color: #f0c52e;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-align: center;
    text-transform: uppercase;
}

/* ---------- формы ------------ */

.color_choose input[type="checkbox"]:hover,
.sorting_menu input[type="checkbox"]:hover,
.promo_controls input[type="radio"]:hover,
.bluetooth_choose input[type="radio"]:hover{
    opacity: 0.6;
}

.color_choose input[type="checkbox"]:focus,
.sorting_menu input[type="checkbox"]:focus,
.promo_controls input[type="radio"]:focus,
.bluetooth_choose input[type="radio"]:focus {
    opacity: 1;
}

.color_choose input[type="checkbox"]:disabled,
.sorting_menu input[type="checkbox"]:disabled,
.promo_controls input[type="radio"]:disabled,
.bluetooth_choose input[type="radio"]:disabled {
    opacity: 0.25;
}

.color_choose input[type="checkbox"]:disabled + label,
.promo_controls input[type="radio"]:disabled + label,
.bluetooth_choose input[type="radio"]:disabled + label {
    opacity: 0.25;
}

/* 
---------- навигация ----------- */

.menu_links {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
}

.menu_links li,
.about_us li,
.delivery li,
.nav_list li,
.footer_content li {
    list-style: none;
}

.links_navigation li,
.menu_catalog li:first-child {
    text-transform: uppercase;
}

.dropdown_menu ul li{
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0.15px
}

.submenu_catalog {
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: 24px;
    opacity: 0.3;
}

.submenu_catalog a:focus{
    opacity: 0.1;
}

.submenu_catalog a {
    margin-right: 39px;
}


/* ---------- заголовки ----------- */

.second_title {
    font-weight: bold;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
}

.third_title {
    font-size: 16px;
    letter-spacing: 3.2px;
}

/* ---------- о нас ---------- */

.about p {
    color: #464646;
}

.about_us li {
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
}


/* ------- выйти ------- */
 li .logout {
    opacity: 0.3;
}

li .logout:hover {
    opacity: 0.6;
}

li .logout:focus {
    opacity: 1;
}

/* ----------- фильтр ---------- */

.filter_menu form,
.sorting_menu {
    background-color: #ebebeb;
    font-size: 14px;
}

.filter_menu legend,
.product .product_name,
.category_card p {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.sorting_menu li {
    list-style: none;
}

.product span {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.filter_menu div:first-child {
    background-color: #d9d9d9;
}

.filter_menu h3,
.sorting_menu h3 {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
}

.filter_form fieldset {
    border: none;
}

.filter_form {
    padding-top: 87px;
}
/* -------- футер --------- */

.social li {
    list-style: none;
} 

.footer {
    background-color: #464646;
    color: white;
}

.footer a {
    color: white;
}

.nav_footer {
    opacity: 0.7;
}

/* ----------промо---------- */

.promo_slogan {
    font-size: 47px;
    font-weight: bold;
    letter-spacing: 0.47px;

    text-align: left;
}

.promo_controls p:nth-child(3),
.promo_controls p:nth-child(4),
.promo_specific p:nth-child(2) {
    color: #464646;
}

.promo_specific p:first-child {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.36px;
}

/* ---------- каталог страницы ------- */

.pagination {
    font-size: 16px;
    font-weight: bold;
    background-color: #ebebeb;
    
}

.pagination li {
    list-style: none;
}

.pagination li:first-child:hover,
.pagination li:last-child:hover{
    background-color: #d9d9d9;
}

.pagination a:first-child:active,
.pagination a:last-child:active,
.pagination_page {
    opacity: 0.3;
}

.pagination a:first-child:hover,
.pagination a:last-child:hover,
.pagination_page:active {
    opacity: 1;
}

.pagination_page:hover {
    opacity: 0.6;  
}


.container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.dropdown_menu {
    display: none;
}

.header_block {
    background-color: #f0c52e;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 40px;
    min-height: 186px;
}

.header_options,
.menu_search,
.nav_list {
    display: flex;
}

.header_options {
    padding-top: 30px;
} 

.header_logo {
    position: absolute;
    top: 0;
    transform: translate(0, 50%);
}

.menu_search {
    flex-basis: 50%;
}

.header {
    width: auto;
}

.menu_search .search {
    border:0;
    width:355px;
    background-color:transparent;
    color:#000;
    opacity: 0.3;
}

.nav_list {
    flex-basis: 50%;
    padding-left: 0;
}

.nav_list li:first-child {
    margin-right: auto;
    flex-basis: 50%;
}

.nav_list li:nth-child(2) {
    padding-right: 65px;
}

.menu_links ul {
    padding-left: 0;
}

.menu_catalog li {
    display: inline-block;
} 

.menu_links,
.links_navigation {
    display: flex;
}

.menu_catalog,
.links_navigation {
    flex-basis: 50%;
}

.links_navigation li:last-child {
    margin-left: auto;
}

.links_navigation li:nth-child(2) {
    padding-left: 38px;
}

/* ------ блок доставка------- */

.delivery_menu {
    background-color : #e5e5e5;
    width: auto;
}

.block_delivery {
    display: flex;
}

.delivery {
    flex-basis: 278px;
    padding: 0px;
}

.aboutus_block {
    min-height: 315px;
}

ul .dellivery_company {
    align-items: flex-end;
}

/* -------- блок о нас --------- */

.block_about {
    display: flex;
}

.about_contacts {
    margin-left: 138px;
}

.btn_more,
.about_contacts .btn {
    margin-top: 82px;
    margin-bottom: 98px;
}

/* ---------- футер ---------- */

.block_footer {
    padding-top: 65px;
}

.footer_content,
.footer_options ul {
    display: flex;
}

.footer_logo,
.footer_options {
    flex-basis: 50%;
}

.footer_options li {
    padding-left: 65px;
}

.footer_options ul {
    justify-content: flex-end;
}

.block_adress {
    display: flex;
    justify-content: space-between;
}

.footer_links {
    margin: 0;
    padding-right: 0;
}

.footer_links li {
    margin-right: 38px;
    text-transform: uppercase;
}

.social ul {
    display: flex;
    justify-content: center;
}

.social li {
    padding-right: 32px;
    padding-top: 55px;
}

/* --------- каталог ---------- */

/* .container_catalog {
    background-color:#ebebeb;
} */

.logout {
    padding-left: 20px;
}

.second_title {
    margin-top: 44px;
    margin-bottom: 30px;
}

.block_submenu {
    padding-left: 60px;
}

.block_catalog,
.sorting_menu,
.sorting_menu ul {
    display: flex;
}

.sorting_menu ul {
    align-items: center;
}

.block_catalog {
    padding-left: 60px;
}

.block_filter,
.sorting_menu {
    min-height: 71px;
}

.block_filter,
.block_sorting {
    display: flex;
 }
 
 .block_filter h3,
 .block_sorting h3 {
     align-self: center;
 }

.sorting_menu {
    margin-bottom: 69px;
}

.third_title {
    margin: 0;
}

.sorting_list li {
    margin-right: 30px;
}

/* .sort_updown {
    flex-wrap: wrap;
     flex-grow: 1;
} */

.sort_updown {
    margin-left: auto;
}
.sort_updown li:last-child {
    padding-left: 19px;
}

.filter_menu {
    flex-basis: 26%;
}

.catalog_choose {
    flex-basis: 74%;
    padding-left: 70px;
}

.product_range {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.product_range article:nth-child(odd) {
    margin-right: 40px;
} 

.pagination ul {
    display: flex;
    justify-content: space-between;
}

